# Rewrite
Options +FollowSymlinks
RewriteEngine On

# Vote corrects
	RewriteRule ^(Vote)\/([a-zA-Z0-9]+) index.php?route=$1&vote=$2 [L] 

# Edit corrects
	RewriteRule ^(Edit)\/([a-zA-Z0-9]+)\/([a-zA-Z0-9]+) index.php?route=$1&vote=$2&admin_code=$3 [L] 

# Add corrects
	# Public
	RewriteRule ^(Add)\/([a-zA-Z0-9]+)\/(Public)\/([a-zA-Z0-9]+) index.php?route=$1&vote=$2&mode=$3&free_vote_code=$4 [L]
	# Personnal
	RewriteRule ^(Add)\/([a-zA-Z0-9]+)\/(Personnal)\/([a-zA-Z]+)\/([a-zA-Z0-9]+) index.php?route=$1&vote=$2&mode=$3&personnal_name=$4&personnal_code=$5 [L]

# Routes simples
	RewriteRule ^([a-zA-Z]+)$ index.php?route=$1 [L]
	# Avec / de fin
	RewriteRule ^([a-zA-Z]+)\/$ index.php?route=$1 [L]