services:
  php:
    environment:
      - SERVER_NAME=${CONDORCETVOTE_PROD_DOMAIN}
      - CONDORCETDB_USER_PASSWORD=${CONDORCETDB_USER_PASSWORD}
    volumes:
      - caddy_data:/data
      - caddy_config:/config
    tty: false
    post_start:
      - command: composer install --no-dev --no-interaction

  phpmyadmin:
    ports: !reset []
