.ranking_icon {
	font-size:150%;
}

.margin-icon {
	margin-right:1%;
}

.tag-icon {
	margin-left:1%;
}

.panel-title .caret {
	margin-left:5%;
}

#vote_url_box .alert {
	border:none;
	border-radius:0px;
}

#vote_url_box .alert:first-of-type {
	margin-bottom:0px;
	margin-top:2%;
}

.red-background {
	background-color:#A94442;
}

#personnal_keynote {
	width:100%;
	background-color:#F5F5F5;
	border:none;
}

input:invalid {
	box-shadow: 0 0 2px 1px red;
}